USE [master]
GO
/****** Object:  Database [Web_Turnos]    Script Date: 19/08/2021 07:49:17 p. m. ******/
CREATE DATABASE [Web_Turnos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web_Turnos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Web_Turnos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web_Turnos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Web_Turnos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web_Turnos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web_Turnos]
GO
/****** Object:  Table [dbo].[tblEstados]    Script Date: 19/08/2021 07:49:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEstados](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGeneros]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGeneros](
	[idGenero] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHorarios]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHorarios](
	[idHorario] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPerfilesUsuarios]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPerfilesUsuarios](
	[idPerfil] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTurnos]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTurnos](
	[idTurno] [int] IDENTITY(1,1) NOT NULL,
	[idHorario] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Estado] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsuarios]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsuarios](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Contrasenia] [varchar](50) NULL,
	[FechaAlta] [date] NULL,
	[FechaActualizacion] [date] NULL,
	[Apellido] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
	[Mail] [varchar](50) NULL,
	[Genero] [int] NULL,
	[FechaNacimiento] [date] NULL,
	[Perfil] [tinyint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblEstados] ON 

INSERT [dbo].[tblEstados] ([idEstado], [Descripcion]) VALUES (1, N'Solicitado')
INSERT [dbo].[tblEstados] ([idEstado], [Descripcion]) VALUES (2, N'Caducado')
INSERT [dbo].[tblEstados] ([idEstado], [Descripcion]) VALUES (3, N'Cancelado')
SET IDENTITY_INSERT [dbo].[tblEstados] OFF
GO
SET IDENTITY_INSERT [dbo].[tblGeneros] ON 

INSERT [dbo].[tblGeneros] ([idGenero], [Descripcion]) VALUES (1, N'Femenino')
INSERT [dbo].[tblGeneros] ([idGenero], [Descripcion]) VALUES (2, N'Masculino')
INSERT [dbo].[tblGeneros] ([idGenero], [Descripcion]) VALUES (3, N'Otro')
SET IDENTITY_INSERT [dbo].[tblGeneros] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHorarios] ON 

INSERT [dbo].[tblHorarios] ([idHorario], [Descripcion]) VALUES (1, N'08:00')
INSERT [dbo].[tblHorarios] ([idHorario], [Descripcion]) VALUES (2, N'08:30')
INSERT [dbo].[tblHorarios] ([idHorario], [Descripcion]) VALUES (3, N'09:00')
SET IDENTITY_INSERT [dbo].[tblHorarios] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPerfilesUsuarios] ON 

INSERT [dbo].[tblPerfilesUsuarios] ([idPerfil], [Descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[tblPerfilesUsuarios] ([idPerfil], [Descripcion]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[tblPerfilesUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTurnos] ON 

INSERT [dbo].[tblTurnos] ([idTurno], [idHorario], [Fecha], [Usuario], [Estado]) VALUES (1, 7, CAST(N'2021-08-20' AS Date), N'alan01', 1)
INSERT [dbo].[tblTurnos] ([idTurno], [idHorario], [Fecha], [Usuario], [Estado]) VALUES (2, 1, CAST(N'2021-04-21' AS Date), N'alan01', 1)
INSERT [dbo].[tblTurnos] ([idTurno], [idHorario], [Fecha], [Usuario], [Estado]) VALUES (3, 8, CAST(N'2021-04-16' AS Date), N'alan01', 2)
SET IDENTITY_INSERT [dbo].[tblTurnos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsuarios] ON 

INSERT [dbo].[tblUsuarios] ([idUsuario], [NombreUsuario], [Contrasenia], [FechaAlta], [FechaActualizacion], [Apellido], [Nombre], [Telefono], [Mail], [Genero], [FechaNacimiento], [Perfil]) VALUES (1, N'alex01', N'1234', CAST(N'2021-04-08' AS Date), NULL, N'Brandan', N'Alex', N'123456', N'alex@mail.com', 2, CAST(N'1998-12-05' AS Date), 1)
INSERT [dbo].[tblUsuarios] ([idUsuario], [NombreUsuario], [Contrasenia], [FechaAlta], [FechaActualizacion], [Apellido], [Nombre], [Telefono], [Mail], [Genero], [FechaNacimiento], [Perfil]) VALUES (2, N'alan01', N'1234', CAST(N'2021-04-08' AS Date), CAST(N'2021-08-19' AS Date), N'Perez', N'Alan Franco', N'111111111', N'alan@mail.com', 3, CAST(N'1995-07-13' AS Date), 2)
INSERT [dbo].[tblUsuarios] ([idUsuario], [NombreUsuario], [Contrasenia], [FechaAlta], [FechaActualizacion], [Apellido], [Nombre], [Telefono], [Mail], [Genero], [FechaNacimiento], [Perfil]) VALUES (3, N'awd', N'213', CAST(N'2021-04-15' AS Date), NULL, N'wadawd', N'awdawd', N'123123', N'', 1, CAST(N'1980-03-05' AS Date), 2)
SET IDENTITY_INSERT [dbo].[tblUsuarios] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_Calendario]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Calendario]
as
SET LANGUAGE 'spanish'
DECLARE @Anio INT = '2021'
DECLARE @CantAnios INT = 1
DECLARE @FechaInicio DATE = DATEFROMPARTS(@Anio, '01','01')
DECLARE @FechaFin DATE = DATEADD(DAY, -1, DATEADD(YEAR, @CantAnios, @FechaInicio))

;WITH Cal(n) AS
(
SELECT 0 UNION ALL SELECT n + 1 FROM Cal
WHERE n < DATEDIFF(DAY, @FechaInicio, @FechaFin)
),
FnlDt(d) AS
(
SELECT DATEADD(DAY, n, @FechaInicio) FROM Cal
),
CalendarioFinal AS
(
SELECT
[Fecha] = CONVERT(DATE,d),
[Dia] = DATEPART(DAY, d),
[Mes] = DATEPART(MONTH, d),
[Anio] = DATEPART(YEAR, d),
[NombreDia] = DATENAME(WEEKDAY, d),
[NombreMes] = DATENAME(MONTH, d)
FROM FnlDt
)
SELECT *, [NombreDia] + ', ' + convert(varchar,[Dia],1) as 'FechaDdl' FROM CalendarioFinal
WHERE MONTH([Fecha]) = MONTH(GETDATE()) AND [Fecha] > GETDATE() OR (DAY([Fecha]) = DAY(GETDATE()) AND MONTH([Fecha]) = MONTH(GETDATE()) AND YEAR([Fecha]) = YEAR(GETDATE()))
ORDER BY [Fecha]
OPTION (MAXRECURSION 0);
GO
/****** Object:  StoredProcedure [dbo].[SP_Horarios_Obtener]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Horarios_Obtener](
@Fecha DATE
)
AS
IF  CONVERT(DATE,@Fecha,1) = CONVERT(DATE,GETDATE(),1) BEGIN
	SELECT * FROM tblHorarios
	WHERE
	idHorario NOT IN (SELECT idHorario FROM tblTurnos WHERE Fecha = @Fecha AND (Estado <> 3))
	AND
	SUBSTRING(Descripcion, 1, 2) + SUBSTRING(Descripcion, 4, 5)
	>
	CONVERT(VARCHAR(2),DATEPART(HOUR, GETDATE()),1) +
	CASE
	WHEN (CONVERT(VARCHAR(2),DATEPART(MINUTE, GETDATE()),3)) < 10
	THEN '0' + (CONVERT(VARCHAR(2),DATEPART(MINUTE, GETDATE()),3))
	ELSE (CONVERT(VARCHAR(2),DATEPART(MINUTE, GETDATE()),3)) END
END
ELSE BEGIN
	SELECT * FROM tblHorarios
	WHERE
	idHorario NOT IN (SELECT idHorario FROM tblTurnos WHERE Fecha = @Fecha AND (Estado <> 3))
END
	
GO
/****** Object:  StoredProcedure [dbo].[SP_Turnos_Actualizar]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Turnos_Actualizar](
@idHorario int,
@Fecha date,
@idTurno int
)
as
UPDATE tblTurnos SET idHorario = @idHorario, Fecha = @Fecha, Estado = 1 WHERE idTurno = @idTurno
SELECT 'OK' msj
GO
/****** Object:  StoredProcedure [dbo].[SP_Turnos_Cancelar]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Turnos_Cancelar](
@idTurno int
)
AS
UPDATE tblTurnos SET Estado = 3 WHERE idTurno = @idTurno
SELECT 'OK' msj
GO
/****** Object:  StoredProcedure [dbo].[SP_Turnos_Guardar]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Turnos_Guardar](
@idHorario int,
@Fecha date,
@Usuario varchar(50)
)
as
INSERT INTO tblTurnos(idHorario, Fecha, Usuario, Estado) VALUES (@idHorario, @Fecha, @Usuario, 1)
SELECT 'OK' msj
GO
/****** Object:  StoredProcedure [dbo].[SP_Turnos_Obtener]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Turnos_Obtener](
@Usuario varchar(50)
)
as
SELECT t.idTurno, t.Fecha, h.Descripcion, e.Descripcion AS Estado
FROM tblTurnos t
INNER JOIN
tblHorarios h
ON h.idHorario = t.idHorario
INNER JOIN
tblEstados e
ON t.Estado = e.idEstado
WHERE t.Usuario = @Usuario
ORDER BY t.Fecha ASC
GO
/****** Object:  StoredProcedure [dbo].[SP_Usuario_Actualizar]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Usuario_Actualizar](
@NombreUsuarioActual varchar(50),
@NombreUsuario varchar(50),
@Contrasenia varchar(50),
@Apellido varchar(50),
@Nombre varchar(50),
@Telefono varchar(20),
@Mail varchar(50),
@Genero int,
@FechaNacimiento date
)
AS
IF @NombreUsuario = @NombreUsuarioActual BEGIN
	UPDATE tblUsuarios
	SET
	NombreUsuario = @NombreUsuario, Contrasenia = @Contrasenia, Apellido = @Apellido, Nombre = @Nombre, Telefono = @Telefono,
	Mail = @Mail, Genero = @Genero, FechaNacimiento = @FechaNacimiento, FechaActualizacion = GETDATE()
	WHERE NombreUsuario = @NombreUsuarioActual

	SELECT 'OK' msj
END
ELSE BEGIN
	IF @NombreUsuario IN (SELECT NombreUsuario FROM tblUsuarios WHERE NombreUsuario = @NombreUsuario) BEGIN
		SELECT 'Nombre de usuario ya registrado' msj
	END
	ELSE BEGIN
		UPDATE tblUsuarios
		SET
		NombreUsuario = @NombreUsuario, Contrasenia = @Contrasenia, Apellido = @Apellido, Nombre = @Nombre, Telefono = @Telefono,
		Mail = @Mail, Genero = @Genero, FechaNacimiento = @FechaNacimiento, FechaActualizacion = GETDATE()
		WHERE NombreUsuario = @NombreUsuarioActual
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Usuario_Guardar]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Usuario_Guardar](
@NombreUsuario varchar(50),
@Contrasenia varchar(50),
@Apellido varchar(50),
@Nombre varchar(50),
@Telefono varchar(20),
@Mail varchar(50),
@Genero int,
@FechaNacimiento date
)
as
IF @NombreUsuario IN (SELECT NombreUsuario FROM tblUsuarios WHERE NombreUsuario = @NombreUsuario) BEGIN
	SELECT 'Nombre de usuario ya registrado' msj
END
ELSE BEGIN
	INSERT INTO tblUsuarios
	(NombreUsuario, Contrasenia, FechaAlta, Apellido, Nombre, Telefono, Mail, Genero, FechaNacimiento, Perfil)
	VALUES
	(@NombreUsuario, @Contrasenia, GETDATE(),@Apellido, @Nombre, @Telefono, @Mail, @Genero, @FechaNacimiento, 2)

	SELECT 'OK' msj
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Usuario_Logear]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Usuario_Logear](
@NombreUsuario varchar(50),
@Contrasenia varchar(50)
)
as
IF @NombreUsuario IN (SELECT NombreUsuario FROM tblUsuarios WHERE NombreUsuario = @NombreUsuario AND Contrasenia = @Contrasenia) BEGIN
	SELECT *, 'OK' msj FROM tblUsuarios WHERE NombreUsuario = @NombreUsuario
END
ELSE BEGIN
	SELECT 'Nombre de usuario o contraseña incorrectos' msj
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Usuario_Obtener]    Script Date: 19/08/2021 07:49:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Usuario_Obtener](
@NombreUsuario varchar(50) = NULL,
@op varchar(10)
)
AS
IF @op = 'TODOS' BEGIN
	SELECT * FROM tblUsuarios
END
ELSE BEGIN
	SELECT * FROM tblUsuarios WHERE NombreUsuario = @NombreUsuario
END
GO
USE [master]
GO
